div.centre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.top{
    padding-top: 2rem;
}

.bottom {
    padding-bottom: 2rem;
}